<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="img/chevelle.jpeg" alt="Chevelle">
    <img src="img/charger.jpg" alt="Charger">
    <img src="img/camaro.jpg" alt="Camaro">
</body>
</html>