<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="img/ragdoll.jpg" alt="Ragdoll">
    <img src="img/siamese.jpg" alt="Siamese">
    <img src="img/tymberish.jpg" alt="Beautiful Cat">
</body>
</html>