<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Detail Page for <%= cat.name %></h1>
    <h3>Favorite Food: <%= cat.favFood %></h3>
    <h3>Age: <%= cat.age %></h3>
    <h3>Sleeping Spots: </h3>
    <% for(var c in cat.sleep) { %>
        <p><%= cat.sleep[c] %></p>
    <% } %>
</body>
</html>